#map-wrapper {
  background-color: rgb(150, 200, 212);
  width: 800px;
  height: 400px;
  margin: auto;
  margin-top: 20px;
}

main {
  width: 1000px;
  display: block;
  margin: auto;
}

#main-title {
  margin-bottom: 10px;
}

body {
	position: relative;
	background: url(background.png)
		center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}



.inner {
	position: relative;
	z-index: 3;
	color: rgb(15, 15, 15);
	text-align: center;
	padding: 50px;
}
