#map-wrapper {
	background-color: rgb(205, 37, 218);
	width: 800px;
	height: 400px;
	margin: auto;
	margin-top: 20px;
}

nav {
	background-color: rgb(255, 255, 255);
}

body {
	position: relative;
	background: url(background.png)
		center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}



.inner {
	position: relative;
	z-index: 3;
	color: rgb(15, 15, 15);
	text-align: center;
	padding: 50px;
}

table, th, tbody {
	color: rgb(12, 12, 12);
	border-color: rgb(7, 7, 7);
}

ul {
    opacity: 0.5;
}